.relatedVideoCard {
    display: flex;
    min-width: 402px;
    margin-bottom: 9px;
    margin-left: 20px;
    cursor: pointer;
    
}

.imageBox {
    min-width: 168px;
    height: 94px;
    margin-right: 9px;
    background-position: center;
    background-size: cover;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
}

.videoTitle {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: 500;
    overflow-wrap: break-word;
}

.chanellTitle {
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
}

.counters {

}
