.sideBarBox {
    position: fixed;
    width: 72px;
    height: 100%;
    background-color:white;
    z-index: 99;
}

.hide {
    height: 56px;
}
@media (max-width: 640px){
    .sideBarBox {
        height: 56px;
    }
}