.VideoPlayer {
    position: absolute;
    padding: 20px 20px 0 20px;
    top:56px ;
    min-height: calc(100vh - 56px);
    width: 100%;
    background-color:rgba(230, 230, 230, 0.238);
    
}

.videoTitle {
    font-size: 1.8rem;
    margin-top: 15px;
}

.profileImgBox {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(193, 192, 192);
    overflow: hidden;
}

.profileImg {
    width: 100%;
}

.playerContainer{

}
.playerSection {
   
}

.relatedVideosSection {
    
}