.cardDescription {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cardDescriptionWide {
    flex-direction: column;
    padding-left: 15px;
}

.profileImgBox {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(193, 192, 192);
    overflow: hidden;
}

.profileImgBoxWide {
    order: 3;
}

.profileImg {
    width: 100%;
}

.headerImg {
    width: 100%;
    height: 155px;
    /* height: 50%; */
    object-fit: cover;
}

.headerImgWide {
    width: 360px;
    height: 200px;
    object-fit: cover;
}


.descriptionBox {
display: flex;
flex-direction: column;
flex-basis: 82%;
}

.videoTitleBox {
    max-height: 40px;
    margin-bottom: 6px;
    overflow: hidden;
}

.videoTitleBoxWide {
    order: -1;
}

.videoTitle {
    font-size: 1.4rem;
    font-weight: 500;
}

.videoTitleWide {
    font-size: 1.8rem;
    font-weight: 400;
    
}

 .channelTitle {
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
}


.channelTitleWide {
    position: absolute;
    top: 81px;
    margin-left: 44px;
}

.subtitlesBox {
    display: flex;
}

.subtitlesBoxWide {
    order:-1;
}

.descriptionWide {
    position: absolute;
    top: 120px;
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
}
