.cardDescription {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}

.profileImgBox {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(193, 192, 192);
    overflow: hidden;
}

.profileImg {
    width: 100%;
}


.descriptionBox {
display: flex;
flex-direction: column;
flex-basis: 82%;
}

.videoTitleBox {
    max-height: 40px;
    margin-bottom: 6px;
    overflow: hidden;
}

.videoTitle {
    font-size: 1.4rem;
    font-weight: bold;
}
 .channelTitle {
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
}

.channelTitle {
    
}

.subtitlesBox {
    display: flex;
}
