.VideoPlayer {
    position: absolute;
    padding: 20px 20px 0 20px;
    top:56px ;
    min-height: calc(100vh - 56px);
    width: 100%;
    background-color:rgba(230, 230, 230, 0.238);
    
}

.playerContainer{

}
.playerSection {
   
}

.relatedVideosSection {
    
}