.card, .card-img-top  {
border-radius: 0;
border: none;
background-color: transparent ;
cursor: pointer;
}

.card-body {
    padding: 0;
}

.card-body {
   width: 100%;
   max-width: 720px;
}

p {
    margin: 0;
}

