@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  scroll-behavior: auto !important;
}

